@model GeoGuide.ViewModels.CountrySearchVM

@{
    ViewData["Title"] = "Index";
}

<section class="section--60 section__cardstyle section__centre section__countries">
		<h2 class="title section__countries--title">Search country</h2>
		<!-- <div class="ignoreFlex">
			<div class="map__container">
				<div id="svgMap"></div>
				<script type="module" src="js/mapscript.js"></script>
			</div>
		</div>
		-->
		<p>Look through the list and click on a country to show details</p>
		<form asp-action="IndexWithForm" asp-controller="Country" class="form-searchcountry">
			<input type="checkbox" id="filtersettings-toggle" class="filtersettings-toggle hidden">    

			<!-- ABOVE -->
			<div class="form-searchcountry--above">
				<label class="setting-searchvalue searchCountryLabel uninteractive">
					<input type="text" id="search-text" asp-for="Keyword" name="searchvalue" class="search__inputfield inputfield inherit-font-style">
					<span class="loader"></span>
				</label>
				<label for="filtersettings-toggle" class="filtersettings-toggle-button button uninteractive">
					<img src="~/img/settingsIcon.svg" class="settingIcon">
				</label>
			</div>

			<!-- BELOW -->
			<div class="form-searchcountry--filtersettings">
				<label class="setting-sortBy uninteractive searchCountryLabel">
					Sort by
					<!-- sort -->
					<select id="sortBySelect" name="sortBySelect" class="setting-sortBy__inputfield inputfield button">
						<option class="setting-sortBy__option" value="0">Name</option>
						<option class="setting-sortBy__option" value="1">Population</option>
					</select>
				</label>
				<label class="setting-region searchCountryLabel uninteractive">
					Region
					<!-- region -->
					<select name="regionSelect" id="regionSelect" class="setting-sortBy__inputfield inputfield button">
						<option class="setting-sortBy__option" value="0">All</option>
					@foreach(var region in Model.Regions)
					{
						<option class="setting-sortBy__option" value="@region.Id">@region.Name</option>
					}
					</select>
				</label>
				<label class="setting-independent searchCountryLabel uninteractive">
					Non-Independent
					<!-- non-independent -->
					<input type="checkbox" id="nonIndependentCheck" name="nonindependent" class="setting-independent inputfield">
				</label>
				<label class="setting-coverage searchCountryLabel uninteractive">
					Without coverage
					<!-- without coverage -->
					<input type="checkbox" id="coverageCheck" name="coverageCheck" class="setting-coverage inputfield">
				</label>																																										
			</div>
		</form>

		<ul class="countries__list">
			<li class="item__not_in_list">Loading countries...</li>
		</ul>
</section>
<script src="js/countries.js"></script>